<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <ontologies namespace="UniversityOntology">

    <!--http://www.w3.org/1999/02/22-rdf-syntax-ns#-->
    <ontology uri="http://www.w3.org/1999/02/22-rdf-syntax-ns#" prefix="rdf">
      <filesource location="Ontologies/rdf.ttl"/>
    </ontology>

    <!--http://www.w3.org/2000/01/rdf-schema#-->
    <ontology uri="http://www.w3.org/2000/01/rdf-schema#" prefix="rdfs">
      <filesource location="Ontologies/rdfs.ttl"/>
    </ontology>

    <!--http://www.w3.org/2002/07/owl#-->
    <ontology uri="http://www.w3.org/2002/07/owl#" prefix="owl">
      <filesource location="Ontologies/owl.ttl"/>
    </ontology>

    <!--http://www.shu.ac.uk/semantics#-->
    <ontology uri="http://www.shu.ac.uk/semantics#" prefix="shu">
      <filesource location="Ontologies/university.owl"/>
    </ontology>

  </ontologies>